ol {
    background-color: yellow;
}

ol li:nth-of-type(even) {
    color: green
}

ol li:nth-of-type(odd) {
    text-transform: uppercase;
}

h1, h2 {
    color: red;
}

h1, h2 em {
    font-size: 40px;
    border: solid 1px black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

ul:first-of-type li:nth-of-type(-n+3) {
    color: blue;
}

ul:first-of-type li: {
    background-color: pink;
}