div:hover {
    border: solid medium red;
}
div:first-of-type {
    background-color: lightskyblue;
}
div:nth-of-type(2) {
    background-color: lightgreen;
}
div:nth-of-type(3) {
    background-color:indigo;
    color: white;
    height: 100px;
    padding: 50% 0%; /* 50% centraliza verticalmente, 0% elimina padding nas laterais */
}
div:nth-of-type(4) {
    background-color: yellow; 
}
div:last-of-type {
    background-color: red;
}
div:first-of-type > h3 {
    color: grey;
}
div:nth-of-type(2) > h3 {
    color:blue;
    font-family: Verdana, sans-serif;
    font-weight: bold;
}
div:nth-of-type(3) > h3 {
    font-family: monospace;
    font-weight: bold;
}
div:nth-of-type(4) > h3 {
    color: red;
    font-family: sans-serif;
    font-weight: bold;
}
div:last-of-type > h3 {
    color: yellow;
    font-family:'Lucida Sans', sans-serif;
    font-weight: lighter;
}
div:nth-of-type(2n+1) > h3 {
    font-style: italic;
}